#!/bin/sh

test -f /etc/sysconfig/kumo-manager && . /etc/sysconfig/kumo-manager

OPTIONS="-l $KUMO_MANAGER_LOCAL_ADDR:$KUMO_MANAGER_LOCAL_PORT"
if [ -n "$KUMO_MANAGER_PARTNER_ADDR" ]; then
    OPTIONS="$OPTIONS -p $KUMO_MANAGER_PARTNER_ADDR:$KUMO_MANAGER_PARTNER_PORT"
fi
if [ -n "$KUMO_MANAGER_OPTS" ]; then
    OPTIONS="$OPTIONS $KUMO_MANAGER_OPTS"
fi

exec 2>&1
exec setuidgid $USER \
     /usr/bin/kumo-manager \
         $OPTIONS -o \"-\"
